
.tituloDestaque {
    font-weight: 1000;
    text-align: center;
    font-size: 50px;
    color: #401E0A;
    margin-bottom: 20px; /* Adicionei um espaçamento entre o título e a grade */
}

img {
    width: 300px; /* Adicionei um estilo para as imagens */
    height: 400px;
    object-fit: fill; /* Adicionei um estilo para que as imagens sejam cortadas para caber na célula da grade */
    border-radius: 45px;
}
